# jupyter notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# python cache
__pycache__/

# file system
.DS_Store
Thumbs.db

# pytorch checkpoints (too big)
resource/DexiNed/checkpoints
resource/PiDiNet/pidinet-master/trained_models
resource/PiDiNet/pidinet-master/training_logs
*.pth

# data
resource/DexiNed/BIPEDv2