# jupyter notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# python cache
__pycache__/

# file system
.DS_Store
Thumbs.db

# pytorch checkpoints (too big)
resource/PiDiNet/pidinet-master/trained_models
resource/PiDiNet/pidinet-master/training_logs
*.pth
*.ckpt

# data
data/BIPEDv2
data/images